nbdime
anywidget
dash
jupyter-dash
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
plotly
bokeh
statsmodels
keras
plotly
altair
xgboost
lightgbm
nltk
spacy
beautifulsoup4
requests
torch
torchvision
torchaudio
tensorflow
pycaret[full]
autokeras
